.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

notebooks/
reports/

data/raw/
data/interim/
data/processed/

data/metadata/*.csv
data/metadata/*.parquet

inference_api/tests/

.git/
.vscode/
.idea/
